@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 240 10% 4%;
    --card-foreground: 0 0% 100%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --border: 240 5% 26%;
  }

  * {
    @apply border-zinc-800;
  }

  body {
    @apply font-sans antialiased bg-black text-white;
  }
}